USE [master]
GO
/****** Object:  Database [rates]    Script Date: 03/09/2012 18:52:18 ******/
CREATE DATABASE [rates] ON  PRIMARY 
( NAME = N'rates', FILENAME = N'D:\MSSQL DATA\DATA\rates.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'rates_log', FILENAME = N'D:\MSSQL DATA\DATA\rates_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rates].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [rates]
GO
/****** Object:  Table [dbo].[mediamail]    Script Date: 03/09/2012 18:52:42 ******/
DROP TABLE [dbo].[mediamail]
GO
/****** Object:  Table [dbo].[zones]    Script Date: 03/09/2012 18:52:36 ******/
DROP TABLE [dbo].[zones]
GO
/****** Object:  Table [dbo].[rates]    Script Date: 03/09/2012 18:52:30 ******/
DROP TABLE [dbo].[rates]
GO
/****** Object:  Table [dbo].[rates]    Script Date: 03/09/2012 18:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rates](
	[lbs] [int] NULL,
	[cost] [float] NULL,
	[zone_id] [int] NULL,
	[method] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[rates] ([lbs], [cost], [zone_id], [method]) VALUES (1, 5.17, 2, N'Ground')
INSERT [dbo].[rates] ([lbs], [cost], [zone_id], [method]) VALUES (2, 5.17, 2, N'Ground')
INSERT [dbo].[rates] ([lbs], [cost], [zone_id], [method]) VALUES (3, 5.17, 2, N'Ground')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
/****** Object:  Table [dbo].[zones]    Script Date: 03/09/2012 18:52:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zones](
	[zip] [nvarchar](3) NULL,
	[ground] [int] NULL,
	[3day] [int] NULL,
	[2day] [int] NULL,
	[nextday] [int] NULL,
	[nextdayam] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[zones] ([zip], [ground], [3day], [2day], [nextday], [nextdayam]) VALUES (N'235', 8, 308, 208, 138, 108)
INSERT [dbo].[zones] ([zip], [ground], [3day], [2day], [nextday], [nextdayam]) VALUES (N'236', 8, 308, 208, 138, 108)
INSERT [dbo].[zones] ([zip], [ground], [3day], [2day], [nextday], [nextdayam]) VALUES (N'237', 8, 308, 208, 138, 108)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
/****** Object:  Table [dbo].[mediamail]    Script Date: 03/09/2012 18:52:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mediamail](
	[weight] [int] NOT NULL,
	[cost] [float] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[mediamail] ([weight], [cost]) VALUES (1, 2.41)
INSERT [dbo].[mediamail] ([weight], [cost]) VALUES (2, 2.82)
INSERT [dbo].[mediamail] ([weight], [cost]) VALUES (3, 3.23)
